
{% extends 'blog/base.html' %}

{% block content %}
    <div class="col-sm-5 welcome-message-bg">
        <div class="new-post-box" id="left-box">
            {% if user.is_authenticated %}
                <h1 class="display-4">Create a new post</h1>
                <div class="icons">
                    <span class="user_icon glyphicon glyphicon-user"></span>
                    <span class="pencil_icon glyphicon glyphicon-pencil"></span>
                </div>
                <div class="main-post-form"> 
                    <form method="POST" class="index-form">
                        {% csrf_token %} {{ form.as_p }}
                        <button type="submit" class="btn btn-success save-button">
                            <span class="glyphicon glyphicon-ok"></span> Save
                        </button>
                        <a href="{% url 'index' %}" class="btn btn-default">Cancel</a>
                    </form>
                </div>
            {% else %}
            <div class="welcome-message" id="welcome-message">
                <h1 class="display-3 welcome-greeting">You must login to make a new post.</h1>
                <h2 class="display-4 main-links"><a href="/signup">Sign Up</a> or <a href="/login">Login</a></h2>
                <lead class="headline">It's seriously worth signing up for this doe.</lead>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-sm-7">
    {% for post in posts %}
        <div class="comment-box">
            <h4 class="title"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></span></h4>
            <p>{{ post.text|linebreaksbr }}</p>
            <div class="title" id="comments-expand">
                <span class="date">last update by <span class="label label-info">{{ post.author }}</span> on {{ post.published_date }}</span>
            </div>
        </div>
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Click to expand <span class="underline">2593 comments</span> for this post. <span class="caret"></span>
        </a>
    {% endfor %}
    </div>
{% endblock %}