<html>
    <head>
        <title>Maki's Blog</title>
    </head>   
    <body>

        <div>
            <h1><a href="">Maki's Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 15.09.2017, 12:13</p>
            <h2><a href="">My First Post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at egetmetus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justosit amet risus.</p>
        </div>

        <div>
            <p>published 15.09.2017, 12:13</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at egetmetus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justosit ametrisus.</p>
        </div>

    </body> 
</html>