{% load staticfiles %}
<html>
<head>
    <title>Maki's Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
    {% block header %}
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}">The Wall</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'index' %}">All Posts</a></li>
                <li><a href="#">Top Posts</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li>Logged in: <span class="glyphicon glyphicon-user"></span> {{ user.username }}</a>
                </li>
                <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                {% else %}
                <li><a href="/signup/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
            </ul>
        </div>
    </nav>
    <div class="page-header">
        <h1><a href="{% url 'index' %}">The Wall</a></h1>
    </div>
    {% endblock %}
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% block content %} 
                {% endblock %}
            </div>
        </div>
    </div>

</body>
</html>