{% extends "blog/base.html" %} 

{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="col-sm-4"></div>
<div class="col-sm-4">
    <h1>Login</h1>
    <form method="POST" class="post-form form-horizontal">
        {% csrf_token %} 
        <p>
            <label>Username</label>
            <input type="text" name="username">
        </p>
        <p>
            <label>Password</label>
            <input type="password" name="password">
        </p>
        <button type="submit" class="save btn btn-default">Login</button>
    </form>
</div>
<div class="col-sm-4"></div>
{% endblock %}